html, body {
  margin: 0;
  padding: 0;
  background: #e2e2e2;
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: 10px;
}
canvas {
  display: block;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 70px;
   background-color: #009444;
   color: white;
   text-align: center;
   font-family: Vallato Regular;
   font-size: 20px;
}
*{box-sizing: border-box;}
body{
  padding: 3em;

}
/* Dropdown Button */
.dropbtn {
  background: #e2e2e2;
  padding: 15px;
  padding-bottom: 11px;
  font-size: 16px;
  border: none;
  border-radius: 5px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  right: 25px;
  width: 200px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e2e2e2;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #009444;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: white;

}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   outline-style: none;
}
 

 .player-icon {
   color: #007bff;
   margin-right: 5px;
}
 .player-icon:hover {
   color: #000;
}
 .container {
   background: #fff;
   height: 70px;
   width: 70px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
   border-radius: 50%;
   position:fixed;
   left: 30px;
   top: 150px;
}
 .header-player {
   width: 100%;
   padding: 10px;
   display: grid;
   grid-template-columns: 60px auto;
}
 .header-player .audio-record {
   display: flex;
   align-items: center;
}
 .header-player .audio-record i {
   color: #007bff;
   font-size: 50px;
   cursor: pointer;
   padding: 1px;
}
 .header-player .audio-record input[type=checkbox] {
   position: absolute;
   visibility: hidden;
}
 .header-player .audio-record input[type=checkbox]:checked ~ label i {
   color: #fff;
   background: #007bff;
   border-radius: 100%;
   animation: shadow-expansion 0.9s ease-in-out infinite alternate;
}
 .header-player .audio-properties .audio_record-control {
   width: 100%;
   display: flex;
   flex-flow: row nowrap;
}
 .header-player .audio-properties .audio_record-control .audio-overwrite {
   flex-grow: 2;
   font-size: 11px;
   font-weight: regular;
   padding-top: 6px;
   text-align: right;
}
 .header-player .audio-properties .audio_record-control .audio-overwrite > label {
   padding-right: 10px;
}
 .header-player .switch {
   position: relative;
   display: inline-block;
   width: 36px;
   height: 14px;
   float: right;
}
 .header-player .switch label {
   font-size: 12px;
   font-weight: regular;
   float: left;
}
 .header-player .switch input {
   display: none;
}
 .header-player .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 123, 255, 0.26);
   -webkit-transition: 0.4s;
   transition: 0.4s;
   border-radius: 20px;
}
 .header-player .slider:before {
   position: absolute;
   content: "";
   height: 20px;
   width: 20px;
   left: -2px;
   bottom: -2.5px;
   background-color: #f1f1f1;
   -webkit-transition: 0.4s;
   transition: 0.4s;
   border-radius: 100%;
   box-shadow: 0px 2px 2px rgba(0, 123, 255, 0.24);
}
 .header-player input:checked + .slider {
   background-color: #99caff;
}
 .header-player input:checked + .slider::before {
   background-color: #007bff;
}
 .header-player input:focus + .slider {
   box-shadow: 0 0 1px #007bff;
}
 .header-player input:checked + .slider:before {
   -webkit-transform: translateX(20px);
   -ms-transform: translateX(20px);
   transform: translateX(20px);
}
 .header-player .player-bar {
   font-size: 14px;
   font-weight: bold;
   width: 100%;
   display: flex;
   flex-flow: row nowrap;
   margin: 10px 0;
}
 @keyframes shadow-expansion {
   from {
     box-shadow: 0 0 0 5px #007bff;
  }
   to {
     box-shadow: 0 0 0 0 #007bff;
  }
}
 .by {
   font-family: sans-serif;
   position: fixed;
   bottom: 20px;
   text-align: center;
   width: 100%;
   font-size: 10px;
}
 .by a {
   text-decoration: none;
   color: #007bff;
   transition: all 0.5s;
}
 .by a:hover {
   color: #0062cc;
}
 button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}
 #clicks {
   border-radius: 50%;
   background-color: red;
   width: 20px;
   height: 15px;
   position: absolute;
   display: none;
}
 .save {
   position: relative;
   left: 0px;
   top: -20px;
   z-index: 100;
}





