html, body {
  margin: 0;
  padding: 0;
  background: #e2e2e2;
}
canvas {
  display: block;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 70px;
   background-color: #009444;
   color: white;
   text-align: center;
   font-family: Vallato Regular;
   font-size: 20px;
}
*{box-sizing: border-box;}
body{
  padding: 3em;

}
nav{
  width: 20%;
  min-width: 15em;
  margin: 0 auto;
  position: absolute;
  left: 1050px;
}
h1{
  position: absolute;
  display: inline-block;
  font: 2em/1em sans-serif;
  cursor: pointer;
  user-select: none;
  height: 2.1em;
}
h1:after{
  content:"";
  border: 10px solid transparent;
  border-top-color: #ccc;
  position: absolute;
  right: -30px;
  top: 15px;
}
h1:hover + ul{
  display: block;
}
ul{
 background: #eee;
 border: 1px solid #ddd;
 border-radius: 1%;
 display: none;
 position: relative;
 top: -1.5em;
}
ul:hover{
  display: block;
}
li{
 padding: 3% 5%;
 border-top: 1px solid #fff;
 border-bottom: 1px solid #ddd;
 cursor: pointer;
}
li:first-child{border-top: none;}
li:last-child{border-bottom: none;}
li:hover{background: linear-gradient(#eee,#ddd);}
